GemeentesCampagne/Flow.txt
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8f6b968e-5f8f-4f10-b686-bd53084023c2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "getRows",
        "filters": {},
        "workbook": {
          "__rl": true,
          "value": "01U27M72IMG4UCDRQQ5ZD2WLKZIZGW7RAC",
          "mode": "list",
          "cachedResultName": "CampagneGemeentes 20251106",
          "cachedResultUrl": "https://sirusbe-my.sharepoint.com/personal/jan_syssauw_sirus-ai_be/_layouts/15/Doc.aspx?sourcedoc=%7B2128370C-10C6-47EE-AB2D-59464D6FC402%7D&file=CampagneGemeentes%2020251106.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{A1D312BB-B119-4471-9E95-C4E0720168EA}",
          "mode": "list",
          "cachedResultName": "Campagne",
          "cachedResultUrl": "https://sirusbe-my.sharepoint.com/personal/jan_syssauw_sirus-ai_be/_layouts/15/Doc.aspx?sourcedoc=%7B2128370C-10C6-47EE-AB2D-59464D6FC402%7D&file=CampagneGemeentes%2020251106.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Campagne!A1"
        },
        "table": {
          "__rl": true,
          "value": "{D412F676-0431-4A2B-8F14-9368157BD7D0}",
          "mode": "list",
          "cachedResultName": "Gemeentes",
          "cachedResultUrl": "https://sirusbe-my.sharepoint.com/personal/jan_syssauw_sirus-ai_be/_layouts/15/Doc.aspx?sourcedoc=%7B2128370C-10C6-47EE-AB2D-59464D6FC402%7D&file=CampagneGemeentes%2020251106.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Campagne!A1:U56"
        },
        "returnAll": true,
        "rawData": "="
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "0ea02140-f7cf-4865-abea-9f870bc9971a",
      "name": "Get rows",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "DW48dQCZ7VeSw4Xt",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        0
      ],
      "id": "cffd4fa3-8538-48a0-add4-7eea5763ede7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd075937-271c-4657-bfaa-e26a0bc5a964",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "={{ $('SetFlowVars').first().json.MAIL_STATUS_NEW }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "d6f793a4-621e-4250-9e50-ee962609bb72",
      "name": "Filter"
    },
    {
      "parameters": {
        "fromEmail": "test@syssauw.com",
        "toEmail": "test@syssauw.com",
        "subject": "={{ $('MakeOutputJson').item.json.message.content.Subject }}",
        "html": "=Emails: {{ $('Target').item.json.email_lijst }}<br>\n<br>\n{{ $('Target').item.json.titels_achternamen }},<br>\n{{ $('Target').item.json.voornamen }}<br>\n<br>\n{{ $('MakeOutputJson').item.json.message.content.Body }}\n<br>\nMet Vriendelijke Groeten<br>\n{{ $('SetFlowVars').first().json.FROM }}<br><br>\n{{ $('SetFlowVars').first().json.EMAIL_SIGNATURE }}\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1840,
        16
      ],
      "id": "1ff1dd4a-6f5e-4457-8b58-f4a6a13c23ce",
      "name": "Send email",
      "webhookId": "e5b83ede-7bf8-48ba-899a-b9a0ceaa0a05",
      "credentials": {
        "smtp": {
          "id": "FuA9ZflcOSmjj8Ra",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "update",
        "workbook": {
          "__rl": true,
          "value": "01U27M72IMG4UCDRQQ5ZD2WLKZIZGW7RAC",
          "mode": "list",
          "cachedResultName": "CampagneGemeentes 20251106",
          "cachedResultUrl": "https://sirusbe-my.sharepoint.com/personal/jan_syssauw_sirus-ai_be/_layouts/15/Doc.aspx?sourcedoc=%7B2128370C-10C6-47EE-AB2D-59464D6FC402%7D&file=CampagneGemeentes%2020251106.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{A1D312BB-B119-4471-9E95-C4E0720168EA}",
          "mode": "list",
          "cachedResultName": "Campagne",
          "cachedResultUrl": "https://sirusbe-my.sharepoint.com/personal/jan_syssauw_sirus-ai_be/_layouts/15/Doc.aspx?sourcedoc=%7B2128370C-10C6-47EE-AB2D-59464D6FC402%7D&file=CampagneGemeentes%2020251106.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Campagne!A1"
        },
        "columnToMatchOn": "RowID",
        "valueToMatchOn": "={{ $('Loop Over Items').item.json.RowID }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Status",
              "fieldValue": "={{ $('SetFlowVars').first().json.MAIL_STATUS_SENT }}"
            },
            {
              "column": "Date",
              "fieldValue": "={{ $('SetFlowVars').first().json.MAIL_DATE_SENT }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        2032,
        16
      ],
      "id": "8730bd4c-c8be-46b0-8fc9-2759dec55947",
      "name": "Update sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "DW48dQCZ7VeSw4Xt",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node\n\nconst now = new Date();\nconst options = {\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n};\nconst formattedDate = now.toLocaleString('nl-BE', options).replace(',', '');\n\n// Gebruik backticks voor multi-line string en behoud HTML-formattering\nconst v_email_signature = `\n<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"font-family:'Segoe UI',sans-serif;font-size:9pt;color:#999999;\">\n  <tr>\n    <td style=\"border-right:4px solid #EF7422;padding-right:12px;vertical-align:top;\">\n      <img src=\"https://sirus-ai.be/wp-content/uploads/2025/06/SirusAI.svg\" width=\"120\" alt=\"SirusAI\" style=\"display:block;border:none;\">\n    </td>\n    <td style=\"padding-left:12px;vertical-align:top;\">\n      <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"font-family:'Segoe UI',sans-serif;font-size:9pt;color:#999999;\">\n        <tr>\n          <td style=\"padding-bottom:2px;\">\n            <span style=\"font-size:11pt;color:#000C6E;font-weight:bold;\">Jan Syssauw</span>\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding-bottom:2px;\">\n            <a href=\"tel:+32495590816\" style=\"color:#999999;text-decoration:none;\">+32 495 59 08 16</a>\n            <span style=\"color:#FF5500;\"> | </span>\n            <a href=\"https://sirus-ai.be\" style=\"color:#999999;text-decoration:none;\">sirus-ai.be</a>\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding-bottom:4px;\">\n            <a href=\"https://goo.gl/maps/SMtDTHKW6bk\" style=\"color:#999999;text-decoration:none;\">\n              Verlorenbroodstraat 122 bus 8<br>BE-9820 Merelbeke-Melle\n            </a>\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding-bottom:4px;\">\n            <span style=\"font-size:11pt;color:#000C6E;font-weight:bold;\">Sirus<i>AI</i></span>\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding-bottom:2px;\">\n            Jouw partner in AI & automatisatie<br>\n            Boek een <a href=\"https://sirus-ai.be/quickscan/\" style=\"color:#FF5500;font-weight:bold;text-decoration:none;\">QuickScan Workshop</a>\n          </td>\n        </tr>\n        <tr>\n          <td>\n            Volg SirusAI via <a href=\"https://www.linkedin.com/company/sirusai\" style=\"color:#FF5500;font-weight:bold;text-decoration:none;\">LinkedIn</a>\n          </td>\n        </tr>\n      </table>\n    </td>\n  </tr>\n</table>\n`;\n\nreturn [\n  {\n    json: {\n      MAIL_STATUS_NEW:\"Ready\",\n      MAIL_STATUS_SENT: \"MailSent\",\n      MAIL_DATE_SENT: formattedDate,\n      FROM: \"Jan Syssauw\",\n      EMAIL_SIGNATURE: v_email_signature\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "2ccdb993-469d-40df-be10-659011666fe3",
      "name": "SetFlowVars"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node\n\n// Inputvariabelen (komen uit vorige node)\nconst Burgemeester_Voornaam = $('Loop Over Items').first().json.Burgemeester_Voornaam || \"\";\nconst Burgemeester_Achternaam = $('Loop Over Items').first().json.Burgemeester_Achternaam || \"\";\nconst Burgemeester_Email = $('Loop Over Items').first().json.Burgemeester_Email || \"\";\n\nconst Schepen_Voornaam = $('Loop Over Items').first().json.Schepen_Voornaam || \"\";\nconst Schepen_Achternaam = $('Loop Over Items').first().json.Schepen_Achternaam || \"\";\nconst Schepen_Email = $('Loop Over Items').first().json.Schepen_Email || \"\";\n\nconst Algemeen_Directeur_Voornaam = $('Loop Over Items').first().json.Algemeen_Directeur_Voornaam || \"\";\nconst Algemeen_Directeur_Achternaam = $('Loop Over Items').first().json.Algemeen_Directeur_Achternaam || \"\";\nconst Algemeen_Directeur_Email = $('Loop Over Items').first().json.Algemeen_Directeur_Email || \"\";\n\n// Helperfunctie om te checken of email bruikbaar is\nfunction geldig(email) {\n  if (!email) return false;\n  return !email.trim().toUpperCase().startsWith(\"NOT USE\");\n}\n\nlet voornamen = [];\nlet titels_achternamen = [];\nlet emails = [];\n\n// Burgemeester\nif (geldig(Burgemeester_Email)) {\n  voornamen.push(`Beste ${Burgemeester_Voornaam}`);\n  titels_achternamen.push(`Beste Burgemeester ${Burgemeester_Achternaam}`);\n  emails.push(Burgemeester_Email.trim());\n}\n\n// Schepen\nif (geldig(Schepen_Email)) {\n  voornamen.push(`Beste ${Schepen_Voornaam}`);\n  titels_achternamen.push(`Beste Schepen ${Schepen_Achternaam}`);\n  emails.push(Schepen_Email.trim());\n}\n\n// Algemeen Directeur\nif (geldig(Algemeen_Directeur_Email)) {\n  voornamen.push(`Beste ${Algemeen_Directeur_Voornaam}`);\n  titels_achternamen.push(`Beste Algemeen Directeur ${Algemeen_Directeur_Achternaam}`);\n  emails.push(Algemeen_Directeur_Email.trim());\n}\n\n// Combineer in strings\nconst output = {\n  voornamen: voornamen.join(\", \"),\n  titels_achternamen: titels_achternamen.join(\", \"),\n  email_lijst: emails.join(\"; \")\n  \n};\n\n// Output als JSON voor n8n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        16
      ],
      "id": "fe9ddba0-f59b-4ac7-b688-937389543bb1",
      "name": "Target"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node – maak van string JSON\nreturn items.map(item => {\n  const c = item.json.message?.content;\n  let parsed = {};\n  try {\n    parsed = JSON.parse(c);\n  } catch (e) {\n    parsed = { Subject: null, Body: null, parseError: e.message };\n  }\n  item.json.message.content = parsed;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        16
      ],
      "id": "2abfab65-822e-4c87-97e2-565ee3f4c550",
      "name": "MakeOutputJson"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08NBJB2PTR",
          "mode": "list",
          "cachedResultName": "marketingautomation"
        },
        "text": "Hi there, the ColdEmailCampaign has finished. Ho",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1104,
        -208
      ],
      "id": "3a515ef5-d19f-4fcf-a74f-a0580b0ff2c5",
      "name": "Send a message",
      "webhookId": "9040cf49-6fb5-464d-a550-3761c71fd0d4",
      "credentials": {
        "slackApi": {
          "id": "y1BzvoPHLlt2qtj5",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=Je bent een ervaren AI en Automatisatiemarketeer bij SirusAI. \nJe taak is een korte, mensgerichte en slimme cold email te schrijven naar een gemeente.\nDe mail richt zich op de burgemeester, schepen voor ICT/digitalisering of algemeen directeur, afhankelijk van de beschikbare contactgegevens.\n\n# Context\nSirusAI is een onafhankelijk AI- en automatisatieadviesbureau uit Merelbeke.\nWe helpen Vlaamse gemeenten om:\n- repetitieve administratie te automatiseren,\n- interne kennis en documentatie beter vindbaar te maken,\n- Copilot & ChatGPT veilig en efficiënt te gebruiken,\n- AI-beleid en governance op te zetten conform de EU AI Act.\n\nOnze aanpak is **pragmatisch, vendor-neutraal en meetbaar** — we leveren impact in weken, niet maanden.  \nTone of voice: professioneel, pragmatisch, Vlaams-zakelijk vriendelijk, transparant en inspirerend.\n\n# Invoerparameters\nGemeente_naam = {{ $('Loop Over Items').item.json.Gemeente }}\nGemeente_laatste_nieuws = {{ $('Loop Over Items').item.json.LaatsteNieuws }} \nGemeente_waarden = {{ $('Loop Over Items').item.json.Waarden }}\nGemeente_ambities= {{ $('Loop Over Items').item.json.Ambities }}\nOntvanger_rol = {{ $('Target').item.json.titels_achternamen }}\nOntvanger_voornamen = {{ $('Target').item.json.voornamen }}\nOntvanger_achternamen = {{ $('Target').item.json.voornamen }}\nVerzender_naam = {{ $('SetFlowVars').first().json.FROM }}\nEmail_signature = {{ $('SetFlowVars').first().json.EMAIL_SIGNATURE }}\nBelangrijkste_pijnpunten = veel manuele administratie, AI-governance ontbreekt, Copilot nog niet benut, burgers vinden info niet terug op website.\nCall_to_action = Voorstel voor kennismakingsgesprek of Vrijblijvende AI-QuickScan \n\n# Waardevoorstel van SirusAI\nVan AI & Automatisatie plan tot impact in weken.\n## Ons Motto/Slogan\nHave a productive day\n## Hero Line\nSirusAI helpt KMO’s en overheden om processen te automatiseren, repetitief werk te elimineren, informatie vindbaar te maken en AI veilig te gebruiken.\nWe leveren tastbare tijdswinst binnen korte sprints; van strategie tot uitvoering.\n## Wat we doen\n- AI & Automatisatie-starter begeleiding: ontdek waar AI en automatisatie écht waarde creëren. Van opportuniteiten identificeren tot een concreet actieplan met prioriteiten, ROI-inschatting en veilige eerste stappen.\n- AI-assistenten: burgers, klanten en medewerkers krijgen 24/7 betrouwbare antwoorden, meertalig en uitlegbaar of laten repetitieve taken automatisch uitvoeren.\n- Workflow-automatisatie: versnel processen en elimineer manuele stappen. Facturen, formulieren, dossiers, HR-taken en rapportering verlopen automatisch via Power Automate, n8n of OCR/NLP.\n- Vergroot productiviteit en consistentie met generatieve AI: training, promptbibliotheek, AI-Champions en communities verhogen de kwaliteit en het rendement je werknemers. AI-Copilots schrijven, samenvatten en herformuleren beleidsnota’s, nieuwsbrieven en rapporten, in de juiste tone-of-voice, meertalig en automatisch publiceerbaar via CMS of nieuwsbriefplatform.\n- AI-kennisdeling & opleidingen: bouw een duurzaam kennisfundament. GenAI-kennisbank met Q&A’s, interne Copilot-ondersteuning en AI-literacy-training versterken teams en versnellen onboarding.\n- AI-governance by design: veranker vertrouwen vanaf dag één. AI-beleid, DPIA’s, AI-register en risicoanalyse — volledig conform EU AI Act en GDPR.\n## Waarom SirusAI\n- Businesspartner, geen leverancier: we denken mee in functie van je doelstellingen, ROI en menselijk draagvlak.\n- Vendor-neutraal: we adviseren wat écht past voor u; build of buy, open source, Microsoft, of andere. We zijn niet gebonden aan één bepaalde technologie, oplossing of product.\n- End-to-end: van strategisch advies en richting tot implementatie, training of tijdelijke AI-experts in je team, als businesspartner ontzorgen we de ondernemers en administraties van initiatie tot impact\n- Sirus-ecosysteem: We maken deel uit van het bredere Sirus-ecosysteem, met ons zusterbedrijf Sirus waarin bijna 100 consultants actief zijn in softwareontwikkeling, integratie en cloud technologie. Dit alles geeft een stevige basis voor elke AI-implementatie.\n- “Tevreden of geld terug” Garantie\n-- Stop at anytime: de klant kan tijdens een project op ieder moment het contract stoppen. Later gaat dit tegen een fee zijn van 25% van het resterende bedrag, maar initieel gaan we gewoon laten stoppen \n-- Tevreden of geld terug garantie: We gaan dan ook klanten een garantie aanbieden dat per kleine project iteraties kunnen beslissen dat ze niet tevreden zijn over de laatste stap en indien ze niet tevreden zijn de geleverde prestaties hun investering terug kunnen krijgen.\n## Resultaat\n- Minder e-mails, wachttijden en frustratie — meer tevreden klanten en medewerkers.\n- Tot 50% minder administratiedruk en snellere besluitvorming.\n- Conform, uitlegbaar en klaar voor groei.\n- En vooral: duidelijkheid over wat AI écht voor jouw organisatie kan betekenen — zonder hype, met impact.\n\n\n# Top 4 meest relevante AI-use cases voor lokale overheden\n1. **AI-policy & governance** – ondersteuning bij het opstellen van een conform en veilig AI-beleid en AI-register volgens de EU AI Act en GDPR.  \n2. **Workflow-automatisatie** – digitaliseren van repetitieve administratie (vergunningsaanvragen, klachtenbeheer, notulen, HR-processen) waardoor manueel werk, dubbele invoer in sytems, opvolgingswerk vermeden worden en zo veel minder fouten en veel tijd gewonnen wordt\n3. **AI-gestuurde contentproductie** – Copilot en ChatGPT inzetten de productiviteit van medewerkers te verhogen om beleidsnota’s, nieuwsbrieven en rapporten automatisch te laten schrijven of samenvatten.  \n4. **Informatie Vinden / Loketassistent (intranet & website)**: Burgers/medewerkers vinden info niet; veel herhaalde telefoons/mails; inconsistent antwoord. Tijdverlies, frustratie en overbelasting van interne teams.\n- veel telefonische/mail vragen, waarvan het antwoord op de website staat.\n- veel verloren, manueel, repetitief  zelfde vragen beantwoorden.\n- dienstverlening beperkt tot werkuren\"\n\n# Andere use cases\n1. **Repetitieve Administratie** - Veel repetitief administratief werk (bv. facturen manueel inboeken, data overtypen, dubbele invoer in systemen,herinneringen sturen, ... ) → fouten + tijdverlies.\n2. **Interne Kennisbank & Training Copilot.** - Kennis zit verspreid in mappen en e-mails. Nieuwe medewerkers vinden moeilijk terug wat ze nodig hebben.\n3. **Slim Afspraakbeheer & Loketcapaciteit** - Afspraakbeheer is manueel; loketten kampen met wachtrijen, dubbele boekingen en inefficiënte inzet van medewerkers.\n4. **Dossierintake & Triage-Agent** Binnenkomende mails, formulieren en klachten worden handmatig gelezen, gecodeerd en toegewezen. \n- vaak ontbreekt informatie of is het niet duidelijk\n- automatisch opvolging van termijnen.\n- Vertragingen en fouten leiden tot frustratie.\n5. **Document-AI & Archivering** - Medewerkers moeten info uit pdf’s of scans overtypen in zaaksysteem; openbaarheid en archiefbeheer vragen manuele selectie.\nVergader- & Besluitcopilot\tNotulen en actiepunten worden niet of te laat verwerkt. Besluiten raken verspreid over meerdere documenten.\n5. **HR Self-Service & Medewerkersvragen** - HR ontvangt veel herhaalde vragen (verlof, fietsplan, verloning). Processen zijn manueel en niet geïntegreerd.\n6. **Beleidsanalyse & Rapportering** - Beleidsmedewerkers moeten lange documenten lezen, samenvatten en rapporteren. Beleidsdata is verspreid over Excel en BI-systemen.\n7. **Automatische Communicatie & Nieuwsbrieven** - Nieuwsbrieven, sociale media en updates worden handmatig gemaakt; inconsistentie en tijdsdruk bij communicatie.\n\n# Outputvereisten\nSchrijf een korte, overtuigende cold email (max. 200 woorden) die:\n0. De aanhef, de aanspreking is al voorzien, dus die moet niet in de mail worden aangehaald\n1. Start met een relevante hook op basis van de Gemeente_laatste_nieuws, of gemeente_waarden of gemeente_ambities (enkel als die past bij de SirusAI-context).\nGebruik de Gemeente_laatste_nieuws, gemeente_waarden of gemeente_ambities enkel als ze direct verband houdt met digitalisering, dienstverlening of administratie. Herformuleer die context tot een empathische openingszin met een menselijk inzicht (geen droge verwijzing naar nieuws).”\n2. Erkent een herkenbaar pijnpunt of uitdaging voor de gemeente.\n3. Leg goed en vlot uit hoe SirusAI concreet helpt (focus op de 3 belangrijkste use cases). Maar voeg 1 korte lijn toe over de andere use case \n4. Sluit af met een duidelijke en vriendelijke call-to-action.\n5. Taal: Nederlands (professioneel Vlaams), ‘u’-vorm.\n6. Toon: adviserend, niet-verkooppraat.\n7. Geef enkel de email body terug, geen extra information vooraf of achteraf. Enkel de inhoud van de email. Begin de mail niet met 'Subject:'', verwijder dat.\n8. Geef de email body terug in html, gebruik sobere, lichte, professionele mark-up (bold, bullets, italic, … ) om de email vlotter te laten lezen.\n9. De bedankt en de Verzender_naam en Email_signature om af te sluiten worden achteraf toegevoegd, je moet die niet meer toevoegen. Daar staat reeds in wie de mail zendt, en alle contact informatie.\n10. Personaliseer de email subject (bv met naam van gemeente) voor maximale impact\n11. Verwerk subtiel één kernzin van het SirusAI-merk (‘Van plan tot impact in weken’ of ‘Have a productive day’) in de mail, maar nooit in de CTA of als slogan — enkel als toonversterker.\n\n# Extra richtlijnen\n- Gebruik enkel gemeentelijke info in de hook als ze relevant is voor SirusAI.\n- Vermijd AI-jargon (“LLM”, “neurale netwerken”). Focus op wat het oplost.\n- Toon begrip voor de publieke context (transparantie, compliance, burgergerichtheid).\n- Sluit af met een uitnodiging om kort kennis te maken of een AI QuickScan te doen.\n- Gebruik luchtige witruimte, korte zinnen, heldere structuur.\n- Gebruik enkel informatie die gegeven is in de prompt, maak zelf geen informatie op.\n\n# Schrijfstijl\nTone of voice: Professioneel, helder en mensgericht. Schrijf als een ervaren gids die vertrouwen wekt, niet als een verkoper. De toon is Vlaams zakelijk-vriendelijk: toegankelijk, concreet en to the point, zonder modewoorden of overdrijving.\n\nDoel: \nMaak AI en automatisatie begrijpelijk, rendabel en toepasbaar.\nVertrek altijd vanuit de uitdaging, pijnpunt of context van de lezer, niet vanuit SirusAI zelf. Toon hoe technologie problemen oplost, tijd bespaart of dienstverlening verbetert.\n\nKernprincipes:\n- Professioneel & deskundig: toon kennis zonder afstandelijk te zijn.\n- Pragmatisch: focus op resultaat, niet op hype of technische details.\n- Mensgericht: AI versterkt mensen — “human-in-the-loop by design”.\n- Transparant: eerlijk over haalbaarheid, kosten en risico’s.\n- Inspirerend: maak innovatie tastbaar, met eenvoudige voorbeelden.\n- Schrijfstijlregels:\n-- Schrijf in de tegenwoordige tijd, actief en direct.\n-- Gebruik korte, heldere zinnen (max. ±20 woorden).\n-- Gebruik “u” of “uw organisatie” in B2B-contexten.\n-- Vermijd loze marketingtaal (“disruptive”, “cutting-edge”).\n-- Leg complexe thema’s eenvoudig uit (“AI hoeft geen raketwetenschap te zijn”).\n-- Toon empathie en relevantie (“We begrijpen dat digitalisering niet stopt aan het loket.”).\n-- Gebruik krachtige werkwoorden: versnelt, vereenvoudigt, versterkt, ontzorgt, verbetert.\n-- Eindig altijd met een duidelijke call-to-action of vervolgstap (gesprek, QuickScan, demo).\n-- Gebruik beperkt en verstanding bullets om langere paragrafen op te breken en leesbaarder te maken\n- Sleutelzin voor consistentie:\n--“SirusAI maakt van AI een hefboom voor groei en efficiëntie — van plan tot impact.”\n-Slogan: \"Have a productive day!\"\n\n# Outputformaat\nHet antwoord is een json met 2 elementen, email subject en email body met het volgende formaat:\n{ \"Subject\": \"Efficiëntere administratie en digitale dienstverlening\",\n  \"Body\": \"<p>Met de uitbreiding van het thuisloket biedt Berlare burgers meer digitale mogelijkheden. Toch blijft veel administratief werk tijdrovend en zoeken medewerkers vaak handmatig naar benodigde informatie.</p><p>Bij SirusAI helpen we gemeenten zoals Berlare met het automatiseren van repetitieve taken, het opzetten van een veilig AI-beleid conform EU-regels en het verhogen van de productiviteit via Copilot-tools. Zo wint u tijd voor uw kerntaken en verbetert u de toegankelijkheid voor uw medewerkers en inwoners.</p><p>Wilt u vrijblijvend ontdekken hoe dit ook voor Berlare kan werken? Ik nodig u graag uit voor een kort kennismakingsgesprek of een praktische AI-QuickScan.</p>\"\n  }"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1312,
        16
      ],
      "id": "2f65ef97-9d29-4a97-bec4-04e533ad6d61",
      "name": "Compose Email",
      "credentials": {
        "openAiApi": {
          "id": "iBPsHppGv3eLrZPv",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "SetFlowVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Update sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetFlowVars": {
      "main": [
        [
          {
            "node": "Get rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Target": {
      "main": [
        [
          {
            "node": "Compose Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MakeOutputJson": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Email": {
      "main": [
        [
          {
            "node": "MakeOutputJson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02de313528e60d89c807499d09e1707d7c56a85c9b4aa30106c0640eb2fb4ec5"
  }
}